@model Model.Flower
@{
    ViewData["Title"] = "Create";
}

<h1>Add new Flower</h1>
<form asp-action="Create">
    <div>
        <label>The FLower Name</label>
        <input asp-for="Name" type="text" class="form-control" placeholder="Name" required>
    </div>
    <div>
        <label>The Flower Latin Name</label>
        <input asp-for="LatinName" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary mt-5">
        Add Flower
    </button>
</form>