@model IEnumerable<Flower>
@{
    ViewData["Title"] = "Index";
}

<h1>Flower Table</h1>
<a asp-action="Create" class="btn btn-primary mt-5 mb-5">Add new Flower</a>
<div>
    <table class="table table-striped mt-2">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Latin Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td scope="row"></td>
                    <td>@item.Name</td>
                    <td>@(String.IsNullOrEmpty(item.LatinName) ? "-" : item.LatinName)</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                data-target="#@Html.DisplayName("modal" + item.Id)">
                            Remove
                        </button>
                        <div id="@Html.DisplayName("modal" + item.Id)" class="modal fade" role="dialog" data-toggle="modal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        @await Html.PartialAsync("_Delete", item)
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
